# Task 8: Notebook

> Create a notebook called weather.ipynb at the root of your repository. In this notebook, write a brief report explaining how you completed Tasks 1 to 7. Provide short descriptions of the commands used in each task and explain their role in completing the tasks.

In [2]:
# Data frames.
import pandas as pd

## Collecting the Data

The following code outputs the filename used to store the data file.
```bash
date +"%Y%m%d_%H%M%S_athenry.json
```
The `%Y` is replaced by the four-digit year (e.g 2024).

## Analysing the Data

In [3]:
# Read the data.
df = pd.read_json('data/weather/20241031_080416_athenry.json')

In [ ]:
# Show the data
df.head()

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,11,15n,Fog / Mist,"""Mist""",9,-,SW,225,97,0.0,1028,Thursday,2024-10-31,00:00
1,Athenry,11,15n,Fog / Mist,"""Mist""",9,-,S,180,98,0.1,1028,Thursday,2024-10-31,01:00
2,Athenry,11,15n,Fog / Mist,"""Mist""",9,-,S,180,97,0.0,1028,Thursday,2024-10-31,02:00
3,Athenry,10,15n,Fog / Mist,"""Mist""",11,-,S,180,97,0.0,1027,Thursday,2024-10-31,03:00
4,Athenry,10,15n,Fog / Mist,"""Mist""",13,-,SW,225,98,0.1,1027,Thursday,2024-10-31,04:00

In [5]:
df.describe()

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8
mean,10.375000,10.250000,208.125000,97.500000,0.087500,1027.375000,2024-10-31 00:00:00
min,10.000000,9.000000,180.000000,97.000000,0.000000,1027.000000,2024-10-31 00:00:00
25%,10.000000,9.000000,180.000000,97.000000,0.000000,1027.000000,2024-10-31 00:00:00
50%,10.000000,10.000000,225.000000,97.500000,0.100000,1027.000000,2024-10-31 00:00:00
75%,11.000000,11.000000,225.000000,98.000000,0.125000,1028.000000,2024-10-31 00:00:00
max,11.000000,13.000000,225.000000,98.000000,0.200000,1028.000000,2024-10-31 00:00:00
std,0.517549,1.488048,23.289713,0.534522,0.083452,0.517549,NaN

## End